<h1>Stupid Coaching</h1>

<div class = "container">
  <div class = "question-container">
<p>Question:</p>
<p><%= @question %></p>
</div>

<div class = "answer-container">
<p>Answer:</p>
<p><%= @answer %></p>
</div>
</div>
<%# <form action="???" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form> %>
